footer .footer p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  margin-top: 0;
  letter-spacing: 0.06em;
}

.custom-footer>div>.footer-covid19 {
  padding: 3rem 0;
  background-color: #EFF7FA;
}

.custom-footer>div>.footer-covid19>p {
  max-width: 1300px;
  margin: 0 auto;
}

.custom-footer>div>.footer-covid19>p a {
  font-size: 1.25rem;
  font-family: "HCo Gotham", Verdana, Avenir;
  color: #006BA6;
  line-height: 1.4;
  letter-spacing: .5px;
  text-decoration: none;
}

.custom-footer>div>.footer-calpersHeading {
  padding: 1.8rem 0;
  border-bottom: 2px solid #fff;
  background-color: #94DFFE;
}

.custom-footer>div>.footer-calpersHeading>p {
  font-size: 1.5rem;
  font-family: "HCo Gotham", Verdana, Avenir;
  color: #000;
  line-height: 2.1rem;
  letter-spacing: .5px;

  max-width: 1300px;
  margin: 0 auto;
}

.custom-footer>div>.footer-bottom-parent {
  padding: 3rem 0;
  background-color: #003C71;
}

.custom-footer>div>.footer-bottom-parent>.footer-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  max-width: 1300px;
  margin: 0 auto;
}

.custom-footer>div>.footer-bottom-parent>.footer-bottom>.footer-logo {
  grid-column-start: 1;
  grid-column-end: 2;

  margin-right: 50px;
}

.custom-footer>div>.footer-bottom-parent>.footer-bottom>.footer-desc {
  grid-column-start: 2;
  grid-column-end: 5;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

footer .footer .footer-bottom-parent>.footer-bottom>.footer-desc>p>a {
  color: #fff;
  text-decoration: underline;
  margin: 0 0.9rem;
}

@media screen and (max-width: 780px) {
  .custom-footer>div>.footer-covid19 {
    padding: 2rem 1rem;
  }

  .custom-footer>div>.footer-covid19>p a {
    font-size: .9rem;
    line-height: 1.625rem;
    letter-spacing: .3px;
  }

  .custom-footer>div>.footer-calpersHeading {
    padding: 1.8rem 1rem;
  }

  .custom-footer>div>.footer-bottom-parent>.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0 1rem 1rem;
  }

  .custom-footer>div>.footer-bottom-parent>.footer-bottom>.footer-logo {
    margin-top: 0;
    margin-bottom: 15px;
  }

  footer .footer .footer-bottom-parent>.footer-bottom>.footer-desc>p>a {
    margin: 0 0.5rem !important;
  }

}